.sidebar {
	font-size: $sidebar--font-size;
	font-size: $sidebar--font-size-rem;
	margin-bottom: $sidebar--margin-bottom;

	@media only screen and (max-width: 860px) {
		margin-bottom: 5%;
	}

	.widget {
		background-color: $sidebar-widget--background-color;
		padding: $sidebar-widget--padding;

		@media only screen and (max-width: 860px) {
			padding: $sidebar-widget--padding__small-screen;
			margin-bottom: 5%;
		}
	}

	.widget-title a {
		color: $sidebar-widget--link-color;
		text-decoration: none;
	}
}