.cycloneslider {
	z-index: 0;
}

.home {
	.testimonial-widget {
		padding: 40px 0;
		margin-top: 80px;
		background-color: $green;
		color: $white;

		h3 {
			text-align: center;
			color: $white;
		}

		.widget {
			margin-bottom: 0;
		}

		.lSSlideOuter .lSPager.lSpg>li.active a, 
		.lSSlideOuter .lSPager.lSpg>li:hover a {
			background-color: $white;
		}
	}
}

