.after-entry {
	background-color: $after-entry--background-color;
	font-size: $after-entry--font-size;
	font-size: $after-entry--font-size-rem;
	margin-bottom: $after-entry--margin-bottom;
	padding: $after-entry--padding;

	@media only screen and (max-width: 860px) {
		padding: 30px;
		margin-bottom: 5%;
	}
}