.after-entry {
	background-color: $afterEntry__backgroundColor;
	font-size: $afterEntry__fontSize;
	font-size: $afterEntry__fontSizeRem;
	margin-bottom: $afterEntry__marginBottom;
	padding: $afterEntry__padding;

	@media only screen and (max-width: 860px) {
		padding: 30px;
		margin-bottom: 5%;
	}
}