/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: $primary-nav--background-color;
	border-top: none;
	float: right;

	@media only screen and (max-width: $medium-screen) {
		float: none;
		clear: both;
	}
}