/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item {
	&:focus {
		position: static;
	}

	> a:focus + ul.sub-menu,
	&.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}

.menu-toggle,
.sub-menu-toggle {
	display: none;
	visibility: hidden;
}

/* ### Genesis Responsive Menus */

@media only screen and (max-width: $medium-screen) {

	#genesis-mobile-nav-primary {
		min-height: 51px;
		min-width: 45px;
	}

	#genesis-mobile-nav-primary span, #genesis-mobile-nav-primary span:before, #genesis-mobile-nav-primary span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 4px;
	width: 35px;
	background: $green;
	position: absolute;
	left: 0;
	display: block;
	content: '';
	}
	#genesis-mobile-nav-primary span:before {
	top: -10px;
	}
	#genesis-mobile-nav-primary span:after {
	bottom: -10px; 
	}

	#genesis-mobile-nav-primary span, #genesis-mobile-nav-primary span:before, #genesis-mobile-nav-primary span:after {
	  transition: all 500ms ease-in-out;
	}
	#genesis-mobile-nav-primary.activated span {
	  background-color: transparent;
	}
	#genesis-mobile-nav-primary.activated span:before, #genesis-mobile-nav-primary.activated span:after {
	  top: 0;
	}
	#genesis-mobile-nav-primary.activated span:before {
	  transform: rotate(45deg);
	}
	#genesis-mobile-nav-primary.activated span:after {
	  transform: rotate(-45deg);
	}


	.genesis-responsive-menu .wrap {
		padding: 0;
	}

	.genesis-responsive-menu {
		display: none;
		position: relative;
	}

	.genesis-skip-link .skip-link-hidden {
		display: none;
		visibility: hidden;
	}

	.menu-toggle,
	.sub-menu-toggle {
		background-color: $responsive-nav--background-color;
		border-width: 0;
		color: $responsive-nav--color;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.menu-toggle:focus,
	.menu-toggle:hover,
	.sub-menu-toggle:focus,
	.sub-menu-toggle:hover {
		background-color: $responsive-nav--background-color;
		border-width: 0;
		color: $responsive-nav--hover-color;
	}

	.menu-toggle {
		position: relative;
		z-index: 1000;
        width: auto;
        float: right;
   	}

	.menu-toggle,
	.menu-toggle:focus,
	.menu-toggle:hover {
		border-top: none;
	}

	.menu-toggle::before {
		font-size: 4rem;
		margin-bottom: 0;
		text-rendering: auto;
		display: block;
	}

	.sub-menu-toggle {
		float: right;
		padding: 13px 10px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.sub-menu .sub-menu-toggle {
		padding: 12px 10px;
	}

	.sub-menu-toggle::before {
		display: inline-block;
		text-rendering: auto;
		-webkit-transform: rotate( 0 );
		-ms-transform:     rotate( 0 );
		transform:         rotate( 0 );
		-webkit-transition: transform .25s ease-in-out;
		-ms-transition:     transform .25s ease-in-out;
		transition:         transform .25s ease-in-out;
	}

	.sub-menu-toggle.activated::before {
		-webkit-transform: rotate( 180deg );
		-ms-transform:     rotate( 180deg );
		transform:         rotate( 180deg );
	}

	.site-header .wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .title-area {
        width: auto;
    }

	.genesis-responsive-menu .genesis-nav-menu {

		.sub-menu {
			clear: both;
			display: none;
			margin: 0;
			border: none;
			opacity: 1;
			padding-left: 15px;
			position: static;
			width: 100%;

			a {
				width: 100%;
			}

			.sub-menu {
				margin: 0;
			}
		}

		.menu-item {
			display: block;
			float: none;
			position: relative;
			text-align: left;

			&:focus,
			&:hover {
				position: relative;
			}

			a {
				border: none;
				margin-bottom: 1px;
				padding: 15px 20px;
				width: 100%;
			}

			> a:focus ul.sub-menu,
			> a:focus ul.sub-menu .sub-menu {
				left: 0;
				margin-left: 0;
			}
		}

		> .menu-item-has-children > a::after {
			content: none;
		}
	}
}

@media only screen and (max-width: $smaller-screen) {
	button.menu-toggle {
		padding: 8px 10px 8px 5px;
	}
}