/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;
	width: $title-area--width;

	.header-full-width & {
		float: left;
		width: $title-area--width;

		@media only screen and (max-width: $smaller-screen) {
			width: 250px;
		}
	}

	@media only screen and (max-width: $medium-screen) {
		padding: 10px;
	}

	@media only screen and (max-width: $smaller-screen) {
		width: 250px;
	}
}

.site-title {
	@include rem( font-size, $site-title--font-size );
	font-family: $headings--font-family;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 10px;

	a,
	a:focus,
	a:hover {
		color: $site-header--link-color;
		text-decoration: none;
	}
}

.site-description {
	@include rem( font-size, $site-description--font-size );
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 0;
}

.header-image {
	.site-description,
	.site-title {
		display: block;
		text-indent: -9999px;		
	}

	.title-area {
		margin: 0 auto 0 0;
		max-width: $title-area--width;
		padding: 0;

		@media only screen and (max-width: $medium-screen) {
			padding-left: 10px;
		}
	}

	.site-title > a {
		background-position: center !important;
		background-size: contain !important;
		float: left;
		min-height: $site-title--min-height;
		width: 100%;

		@media only screen and (max-width: $smaller-screen) {
			min-height: 100px;
		}
	}
}