.entry-title {
	font-size: $entry-title--font-size;
	font-size: $entry-title--font-size-rem;

	a {
		color: $entry-title--link-color;
		text-decoration: none;

		&:focus,
		&:hover {
			color: $entry-title--link-hover-color;
		}
	}
}