/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: $entryMeta__fontSize;
	font-size: $entryMeta__fontSizeRem;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: $entryHeaderMeta__marginBottom;
}

.entry-footer .entry-meta {
	border-top: 1px solid $entryMeta__borderColor;
	padding-top: $entryFooterMeta__paddingTop;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}