/* ## Breadcrumb
--------------------------------------------- */

.breadcrumb {
	background-color: $breadcrumb__backgroundColor;
	font-size: $breadcrumb__fontSize;
	font-size: $breadcrumb__fontSizeRem;
	margin-bottom: 1px;
	padding: 12px 30px;
}