/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $siteFooter__backgroundColor;
	border-top: 1px solid $siteFooter__borderColor;
	font-size: $siteFooter__fontSize;
	font-size: $siteFooter__fontSizeRem;
	line-height: 1;
	padding: 60px 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}