/* ### Content */

.content {
	float: right;
	width: $contentWidth;

	@media only screen and (max-width: $biggerScreen) {
		width: $contentWidth__biggerScreen;
	}

	@media only screen and (max-width: $bigScreen) {
		width: $contentWidth__bigScreen;
	}

	@media only screen and (max-width: $mediumScreen) {
		width: 100%;
	}

	.content-sidebar &,
	.content-sidebar-sidebar &,
	.sidebar-content-sidebar & {
		float: left;
	}

	.content-sidebar-sidebar &,
	.sidebar-content-sidebar &,
	.sidebar-sidebar-content & {
		width: $contentWidth__bothSidebars;

		@media only screen and (max-width: $biggerScreen) {
			width: $contentWidth__bothSidebarsBiggerScreen;
		}

		@media only screen and (max-width: $bigScreen) {
			width: $contentWidth__bothSidebarsBigScreen;
		}

		@media only screen and (max-width: $mediumScreen) {
			width: 100%;
		}
	}

	.full-width-content & {
		width: 100%;
	}
}





