/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: $primarySidebarWidth;

	@media only screen and (max-width: $biggerScreen) {
		width: $primarySidebarWidth__biggerScreen;
	}

	@media only screen and (max-width: $mediumScreen) {
		width: 100%;
	}

	.sidebar-content &,
	.sidebar-sidebar-content & {
		float: left;
	}
}