//
// Brand Colors
// ========================

$white: #fff;
$black: #000;


//
// Base Colors
// ========================

$base__color: #333;
$body__backgroundColor: #eee;

$link__color: #c3251d;
$link__hoverColor: #333;
$link__focusColor: $link__hoverColor;

$hr_borderColor: #eee;


//
// Element Colors
// ========================

$input__backgroundColor: #fff;
$input__borderColor: #ddd;
$input__color: #333;
$inputFocus__borderColor: #999;

$button__backgroundColor: #333;
$button__color: #fff;
$buttonHover__backgroundColor: #c3251d;
$buttonHover__color: #fff;


//
// Navigation Colors
// ========================
 
$nav__linkColor: #333;
$nav__hoverColor: #c3251d;
$nav__focusColor: $nav__hoverColor;
$nav__borderColor: #eee;

$pagination__backgroundColor: #fff;
$pagination__color: #333;
$pagination__linkColor: #333;
$pagination__hoverColor: #333;
$pagination__hoverBackgroundColor: #c3251d;
$pagination__focusColor: $pagination__hoverColor;
$pagination__borderColor: #eee;

$subMenu__backgroundColor: #fff;
$subMenu__borderColor: #eee;

$primaryNav__backgroundColor: #fff;
$primaryNav__linkColor: $nav__linkColor;
$primaryNav__borderColor: #eee;

$secondaryNav__backgroundColor: #fff;
$secondaryNav__linkColor: $nav__linkColor;
$secondaryNav__borderColor: #eee;

$responsiveNav__backgroundColor: #fff;
$responsiveNav__color: #333;
$responsiveNav__linkColor: $nav__linkColor;
$responsiveNav__hoverColor: #c3251d;
$responsiveNav__focusColor: $responsiveNav__hoverColor;
$responsiveNav__borderColor: #eee;

$breadcrumb__backgroundColor: #fff;


//
// Header Colors
// ========================

$siteHeader__backgroundColor: $fff;
$siteHeader__linkColor: #333;


//
// Content Colors
// ========================

$entry__backgroundColor: #fff;

$entryTitle__linkColor: #333;
$entryTitle__linkHoverColor: #c3251d;

$entryMeta__borderColor: #eee;

$authorBox__backgroundColor: #fff;

$afterEntry__backgroundColor: #fff;


//
// Archive Colors
// ========================

$archiveDescription__backgroundColor: #fff;


//
// Sidebar Colors
// ========================

$sidebarWidget__backgroundColor: #fff;
$sidebarWidget__linkColor: #333;


//
// Footer Colors
// ========================

$siteFooter__backgroundColor: $black;
$siteFooter__linkColor: #333;
$siteFooter__borderColor: #eee;

$footerWidgets__backgroundColor: #fff;
$footerWidgets__linkColor: #333;
$footerWidgets__borderColor: #eee;