//
// Site widths
// ========================

$base--width: 1280px;
$base--width__bigger-screen: 1140px;
$base--width__big-screen: 960px;
$base--width__medium-screen: 800px;
$base--width__landing-page: 800px;


//
// Content widths
// ========================

$content--width: 900px;
$content-both-sidebars--width: 680px;

$content--width__bigger-screen: 820px;
$content-both-sidebars--width__bigger-screen: 600px;

$content--width__big-screen: 640px;
$content-both-sidebars--width__big-screen: 420px;


$primary-sidebar--width: 340px;
$primary-sidebar--width__bigger-screen: 280px;

$secondary-sidebar--width: 180px;

$content-sidebar-wrap--width: 1060px;
$content-sidebar-wrap--width__bigger-screen: 920px;
$content-sidebar-wrap--width__big-screen: 740px;


//
// Title area dimensions
// ========================

$title-area--width: 400px;
$site-title--min-height: 80px;

$header-widget-area--width: 700px;
$header-widget-area--width__big-screen: 620px;


//
// Content dimensions
// ========================

$entry--margin-bottom: 40px;
$entry--padding: 40px 0;
$entry--margin-bottom__small-screen: 5%;
$entry--padding__small-screen: 0;

$after-entry--margin-bottom: 40px;
$after-entry--padding: 40px;

$author-box--margin-bottom: 40px;
$author-box--padding: 40px;

$archive-description--margin-bottom: 0;
$archive-description--padding: 40px 0 0;

$entry-header-meta--margin-bottom: 24px;
$entry-footer-meta--paddingTop: 24px;


//
// Sidebar dimensions
// ========================

$sidebar--margin-bottom: 40px;

$sidebar-widget--padding: 40px 0;
$sidebar-widget--padding__small-screen: 0;


//
// Widget dimensions
// ========================

$widget--margin-bottom: 40px;
$widget-title--margin-bottom: 20px;


//
// Footer dimensions
// ========================

$footer-widgets--width: 380px;
$footer-widgets--width__bigger-screen: 340px;
$footer-widgets--width__big-screen: 300px;

$footer-widgets-margin-right--width: 70px;
$footer-widgets-margin-right--width__bigger-screen: 60px;
$footer-widgets-margin-right--width__big-screen: 30px;