//
// Title area dimensions
// ========================

$titleArea__width: 300px;
$siteTitle__minHeight: 80px;

$headerWidgetArea__width: 800px;
$headerWidgetArea__width1200: 620px;


//
// Content dimensions
// ========================

$entry__marginBottom: 40px;
$entry__padding: 70px 80px;
$entry__marginBottom860: 5%;
$entry__padding860: 30px;

$entryHeaderMeta__marginBottom: 24px;
$entryFooterMeta__paddingTop: 24px;


//
// Sidebar dimensions
// ========================

$sidebar__marginBottom: 40px;

$sidebarWidget__padding: 40px;
$sidebarWidget__padding860: 30px;

//
// Footer dimensions
// ========================

$footerWidgets__width: 380px;
$footerWidgets__width1340: 340px;
$footerWidgets__width1200: 300px;

$footerWidgets1MarginRight__width: 70px;
$footerWidgets1MarginRight__width1340: 60px;
$footerWidgets1MarginRight__width1200: 30px;