//
// Title area dimensions
// ========================

$titleArea__width: 300px;
$siteTitle__minHeight: 80px;

$headerWidgetArea__width: 800px;
$headerWidgetArea__width1200: 620px;


//
// Footer dimensions
// ========================

$footerWidgets__width: 380px;
$footerWidgets__width1340: 340px;
$footerWidgets__width1200: 300px;

$footerWidgets1MarginRight__width: 70px;
$footerWidgets1MarginRight__width1340: 60px;
$footerWidgets1MarginRight__width1200: 30px;