//
// Header Typography
// ========================

$siteTitle__fontSize: 30px;
$siteTitle__fontSizeRem: 3rem;

$siteDescription__fontSize: 16px;
$siteDescription__fontSizeRem: 1.6rem;

//
// Navigation Typography
// ========================

$nav__fontSize: 16px;
$nav__fontSizeRem: 1.6rem;

$pagination__fontSize: 16px;
$pagination__fontSizeRem: 1.6rem;

$subMenu__fontSize: 14px;
$subMenu__fontSizeRem: 1.4rem;

$primaryNav__fontSize: 14px;
$primaryNav__fontSizeRem: 1.4rem;
