$baseFontFamily: 'Source Sans Pro', sans-serif;
$baseFontSize: 20px;
$baseFontSizeRem: 2rem;
$baseLineHeight: 1.625;

$baseLinkDecoration: none;
$baseLinkHoverDecoration: none;
$baseLinkFocusDecoration: $baseLinkHoverDecoration;

$headingsFontFamily: 'Source Sans Pro', sans-serif;
$headingsLineHeight: 1.2;


//
// Element Typography
// ========================

$blockquote__fontSize: 30px;
$blockquote__fontSizeRem: 3rem;

$input__fontSize: 18px;
$input__fontSizeRem: 1.8rem;

$button__fontSize: 16px;
$button__fontSizeRem: 1.6rem;


//
// Header Typography
// ========================

$siteTitle__fontSize: 30px;
$siteTitle__fontSizeRem: 3rem;

$siteDescription__fontSize: 16px;
$siteDescription__fontSizeRem: 1.6rem;


//
// Navigation Typography
// ========================

$nav__fontSize: 16px;
$nav__fontSizeRem: 1.6rem;

$pagination__fontSize: 16px;
$pagination__fontSizeRem: 1.6rem;

$subMenu__fontSize: 14px;
$subMenu__fontSizeRem: 1.4rem;

$primaryNav__fontSize: 14px;
$primaryNav__fontSizeRem: 1.4rem;

$breadcrumb__fontSize: 16px;
$breadcrumb__fontSizeRem: 1.6rem;


//
// Content Typography
// ========================

$entryTitle__fontSize: 36px;
$entryTitle__fontSizeRem: 3.6rem;

$entryMeta__fontSize: 16px;
$entryMeta__fontSizeRem: 1.6rem;

$authorBox__fontSize: 18px;
$authorBox__fontSizeRem: 1.8rem;

$authorBoxTitle__fontSize: 20px;
$authorBoxTitle__fontSizeRem: 2rem;

$afterEntry__fontSize: 18px;
$afterEntry__fontSizeRem: 1.8rem;


//
// Archive Typography
// ========================

$archiveTitle__fontSize: 20px;
$archiveTitle__fontSizeRem: 2rem;

$archiveDescription__fontSize: 18px;
$archiveDescription__fontSizeRem: 1.8rem;


//
// Sidebar Typography
// ========================

$sidebar__fontSize: 16px;
$sidebar__fontSizeRem: 1.6rem;


//
// Widget Typography
// ========================

$widgetTitle__fontSize: 18px;
$widgetTitle__fontSizeRem: 1.8rem;

$widgetFeaturedContentTitle__fontSize: 20px;
$widgetFeaturedContentTitle__fontSizeRem: 2rem;


//
// Footer Typography
// ========================

$siteFooter__fontSize: 16px;
$siteFooter__fontSizeRem: 1.6rem;

$footerWidgets__fontSize: 18px;
$footerWidgets__fontSizeRem: 1.8rem;