.archive-description {
	background-color: $archive-description--background-color;
	font-size: $archive-description--font-size;
	font-size: $archive-description--font-size-rem;
	margin-bottom: $archive-description--margin-bottom;
	padding: $archive-description--padding;

	p:last-child {
		margin-bottom: 0;
	}

	@media only screen and (max-width: 860px) {
		padding: 30px;
		margin-bottom: 5%;
	}
}